{% extends "base.html.twig" %}
{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a href="#" class="navbar-brand mr-3">Etech :)<span style="color:#9DB320">consulting</span></a>
            <button type="submit" class="navbar-toggler" data-toogle="collapse" aria-expanded=false
                aria-controls="navbarMenu" aria-label="Toogle Navigation" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse nabvar-collapse"></div>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="#" class='nav-link'>Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Société</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Présentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Espace pro</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn menu-right-btn btn-primary" style="width:200px">Se connecter</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid p-0">
            <div class="site-content">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column mx-auto">
                        <h1 class="site-title">LAS 3D</h1>
                        <p class="site-desc">   
                        Société d’externalisation à Madagascar spécialisée dans le traitement
                         des données topographiques et de la Modélisation 3D

                        </p>
                        <div class="d-flex flex-row justify-content-center site-btn">
                            <input type="button" value="Gallery" class="btn btn-dark site-btn1 ">
                            <input type="button" value="Features" class="btn btn-light site-btn2">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 1-->
        <div class="section1">
            <div class="container text-center">
                <h1 class="heading-1">Fantastic features</h1>
                <h1 class="heading-2">& Different type of templates</h1>
                <p class="para-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged
                </p>

                <div class="row justify-content-center text-center">
                    <!-- card 1-->
                    <div class="col-md-4">
                        <div class="card" style='width:20rem;'>
                            <img src="./assets/images/bg3.jpg" height="200rem" alt="image1" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Features</h4>
                                <p class="card-text">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content
                                    of a page when looking at its layout. The point of using Lorem Ipsum
                                    is that it has a more-or-less normal distribution of letters,
                                    as opposed to using 'Content here, content here', making it look like readable
                                    English
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- card 2-->
                    <div class="col-md-4">
                        <div class="card" style='width:20rem;'>
                            <img src="./assets/images/bg2.jpg" height="200rem" alt="image1" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Flexibles</h4>
                                <p class="card-text">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                    their default model text, and a search for 'lorem ipsum' will uncover many web
                                    sites still in their infancy. Various versions have evolved over the years,
                                    sometimes by accident, sometimes on purpose (injected humour and the like).
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- card 3-->
                    <div class="col-md-4">
                        <div class="card" style='width:20rem;'>
                            <img src="./assets/images/bg4.jpg" height="200rem" alt="image1" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Agile</h4>
                                <p class="card-text">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised words which don't look even slightly believable.
                                    If you are going to use a passage of Lorem Ipsum,
                                    you need to be sure
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- section 2-->
        <div class="section2">
            <div class="container-fluid">
                <div class="d-flex justify-content-end">
                    <div class="d-flex flex-column">
                        <h1 class="heading-1">Like & share your love</h1>
                        <p class="para">All the Lorem Ipsum generators on the Internet tend to repeat predefined </p>
                        <input type="button" class="btn btn-danger" value='Show' />
                    </div>
                </div>
            </div>
        </div>

        <!-- section 3-->
        <div class="section3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second row-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support </h3>
                                <p class="m-2">
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration in some form, by injected humour,
                                    or randomised
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 4-->
        <div class="section4 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <img src="./assets/images/bg1.jpg" alt="" width="590" >
                    </div>
                    <div class="col-md-5">
                         <h1 class="text-white">Din't know where to start</h1>
                        <a href="">Join us</a>
                        <p class="para-1">
                            Contrary to popular belief, Lorem Ipsum is not simply random text.
                             It has roots in a piece of classical Latin literature from 45 BC, making it
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="section5 text-center">
            <h4>Contrary to popular belief, Lorem Ipsum is not simply random text.</h4>
            <h4>It has roots in a piece of classical Latin literature</h4>
        </div>
    </footer>

        <script>
            ScrollReveal().reveal('.site-content .d-flex',{delay: 300});
            ScrollReveal().reveal('.section1 .card',{delay: 500});
            ScrollReveal().reveal('.section2 .d-flex',{delay: 500});
            ScrollReveal().reveal('.section3 .m-2',{delay: 500});
            ScrollReveal().reveal('.section4 .col-md-7',{delay: 500});
            ScrollReveal().reveal('.section4 .col-md-5',{delay: 500});
        </script>
{% endblock %}

