<img id='logo' src="{{ logo }}" style="width:200px; height: 150px"/>
<p>Bonjour {{name}}, Nous accusons reception votre demande</p>

<p>Nous vous recontacterons dans le plus bref délai</p>
<br/><br/>

<p>Coridalement</p>
