# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: null
    database_port: null
    database_name: null
    database_user: null
    database_password: null
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: etech.berthon@gmail.com
    mailer_password: Danger123
    secret: ThisTokenIsNotSoSecretChangeIti

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
