{% extends "base.html.twig" %}

{% block body %}

<div class="block1">
<div class="float">This is a floating text </div>
This is the main div
</div>
<div class='list-items'>
<li><a>link 1</a></li>
<li><a>link 2</a></li>
</div>
{% endblock %}