{% extends "base.html.twig" %}


{% block body %}
	<div class="container-background">
		<img
		id='background' src="{{ asset('assets/images/background1.jpg') }}" width="100%" height="100%"/>
	<!-- <div class='main-title'>GCODE</div> -->

	</div>
	<div class='navbar-list'>
		<li>
			<a href="">Accueil</a>
		</li>
		<li>
			<a href="">Contact</a>
		</li>
	</div>

	<div class="foo">
		<span class="letter" data-letter="G">G</span>
		<span class="letter" data-letter="-">-</span>
		<span class="letter" data-letter="C">C</span>
		<span class="letter" data-letter="O">O</span>
		<span class="letter" data-letter="D">D</span>
		<span class="letter" data-letter="E">E</span>

	</div>

	<img class='loader' src="{{ asset('assets/logos/react.png') }}"/>
{% endblock %}
{% block javascripts %}{% endblock %}
